/*
=============
IMPORTACIONES
=============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

/*
=========
VARIABLES
=========
*/

html {

  /* Paleta Colores Primarios */
  --valoresPrimario: 185, 60%, 45%;
  --colorPrimario: hsl(var(--valoresPrimario));
  --colorPrimarioOscuro: hsl(185, 90%, 15%);
  --colorPrimarioClaro: hsl(185, 80%, 75%);

  /* Paleta Colores Secundarios */
  --colorSecundario: hsl(209, 60%, 15%);

  /* Paleta Colores Escala Grises */
  --colorGrisParrafos: hsl(210, 20%, 50%);

  /* Fuentes */
  --fuentePrincipal: 'Lato', sans-serif;

  /* Dimensiones */
  --anchoAreaActiva: 1200px;
  --radioBordes: 5px;
  --espaciadoTitulos: 0.05em;
  --espaciadoParrafos: 0.05em;

  /* Sombras */
  --sombraClara: 0 5px 15px rgba(0, 0, 0, 0.1);
  --sombraOscura: 0 5px 15px rgba(0, 0, 0, 0.2);
  --sombraBoton: 0 1px 3px rgba(0, 0, 0, 0.2);

  /* Otros */
  --transicionHover: all 300ms linear;
}

/*
=============
RESET ESTILOS
=============
*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a:link, a:visited {
  text-decoration: none;
}

/*
=================
ESTILOS GENERALES
=================
*/

body {
  background-color: white;
  font-family: var(--fuentePrincipal);
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
  letter-spacing: var(--espaciadoTitulos);
  color: var(--colorSecundario);
  text-transform: capitalize;
}

p {
  margin-bottom: 1em;
  font-size: 0.875rem;
  line-height: 1.35;
  letter-spacing: var(--espaciadoParrafos);
  color: var(--colorGrisParrafos);
  text-align: justify;
}

.boton {
  display: inline-block;
  cursor: pointer;
  margin-top: 0.5rem;
  background-color: var(--colorPrimario);
  padding: 1.15em 2.5em;
  box-shadow: var(--sombraBoton);
  border-radius: var(--radioBordes);
  font-size: 0.75rem;
  letter-spacing: var(--espaciadoTitulos);
  color: white;
  text-transform: uppercase;
  transition: var(--transicionHover);
}

.boton:hover {
  background-color: var(--colorPrimarioClaro);
  color: var(--colorPrimarioOscuro);
}

section {
  padding: 4rem 0px;
}

div.contenidoSeccion {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--anchoAreaActiva);
}

div.tituloSeccion {
  text-align: center;
  margin-bottom: 2rem;
}

div.tituloSeccion h2 {
  text-transform: uppercase;
}

span.enfasisTitulo {
  color: var(--colorPrimario);
}

/*
======================================
ESTILOS GENERALES A1:
CELULAR VERTICAL + HORIZONTAL + TABLET
(< 992 PX)
======================================
*/
@media (max-width: 992px) {
  div.contenidoSeccion {
    width: 90vw;
  }
}

/*
=====================
ESTILOS GENERALES A2:
COMPUTADOR (> 992 PX)
=====================
*/
@media (min-width: 992px) {
  div.contenidoSeccion {
    width: 95vw;
  }
}


/* 
=============================
ESTILOS GENERALES B1:
CELULAR VERTICAL + HORIZONTAL
(< 768 PX)
=============================
*/
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  h1, h2, h3, h4 {
    line-height: 1.25;
  }
}

/* 
=====================
ESTILOS GENERALES B2:
TABLET + COMPUTADOR
(> 768 PX) 
=====================
*/
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  h1, h2, h3, h4 {
    line-height: 1;
  }
}

/*
=============
SECCIÓN: HERO
=============
*/

#seccionHero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div.contenidoHero {
  text-align: center;
  padding: 0px 3rem;
}

#seccionHero h1 {
  color: white;
  text-transform: uppercase;
}

#seccionHero p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 60ch;
  font-size: 1rem;
  letter-spacing: 0.15em;
  color: white;
  text-align: center;
}

a#botonHero {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0px;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--colorPrimario);
}

a#botonHero:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* Media Queries - Sección Hero:
  Celular Horizontal + Vertical (< 768 px) */
@media (max-width: 768px) {
  #seccionHero {
    --coloresGradiente: var(--colorPrimarioClaro), var(--colorPrimarioOscuro);
    background-image: linear-gradient(to bottom, var(--coloresGradiente));
  }
}

/* Media Queries - Sección Hero:
  Tablet + Computador (> 768 px) */
@media (min-width: 768px) {
  #seccionHero {
    --coloresGradiente: hsla(var(--valoresPrimario), 0.5), rgba(0, 0, 0, 0.9);
    --gradiente: linear-gradient(to bottom, var(--coloresGradiente));
    --imagen: url('/Recursos/Imagenes/main.jpeg');
    background-image: var(--gradiente), var(--imagen);
    background-size: cover;
    background-position: center;
  }
}
